# Custom for personal scripts or files
perso/
data/postgres-container-data/
.vscode/

web/apk_vol/client.apk
web/public/apk_vol/client.apk
.gitignore
.env

node_modules
*.bak
*.crt
*.csr
*.pem
*.key
*.key.org
*.sh
.cache
