.spotify--button{
    top: 300px;
    left: 600px;
    height: 80px;
    width: 300px;
    margin-top: 1%;
    border: none;
    font-size: 25px;
    background-color: grey;
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    position: absolute;
}

.spotify--close{
    background-color: #1DB954;
}

.discord--button{
  top: 450px;
  left: 600px;
  height: 80px;
  width: 300px;
  margin-top: 1%;
  border: none;
  font-size: 25px;
  background-color: grey;
  color: white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  position: absolute;
}

.discord--close{
  background-color: #7289DA;
}
.intra--button{
  top: 600px;
  left: 600px;
  height: 80px;
  width: 300px;
  margin-top: 1%;
  border: none;
  font-size: 25px;
  background-color: grey;
  color: white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  position: absolute;
}

.intra--close{
  background-color: rgb(0, 132, 255);
}
.github--button{
  top: 300px;
  left: 1100px;
  height: 80px;
  width: 300px;
  margin-top: 1%;
  border: none;
  font-size: 25px;
  background-color: grey;
  color: white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  position: absolute;
}

.github--close{
  background-color: rgb(42, 40, 40);
}
.twitter--button{
  top: 450px;
  left: 1100px;
  height: 80px;
  width: 300px;
  margin-top: 1%;
  border: none;
  font-size: 25px;
  background-color: grey;
  color: white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  position: absolute;
}

.twitter--close{
  background-color: #08a0e9;
}
.google--button{
  top: 600px;
  left: 1100px;
  height: 80px;
  width: 300px;
  margin-top: 1%;
  border: none;
  font-size: 25px;
  background-color: grey;
  color: white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  position: absolute;
  }

.google--close{
  background-color: #EA4335;
}

.return
{
    position: absolute;
    width: 72px;
    height: 72px;
    left: 1690px;
    top: 85px;
}

.spotify
{
  top: 327px;
  left: 520px;
  height: 60px;
  width: 60px;
  position: absolute;
}

.discord
{
  top: 477px;
  left: 520px;
  height: 60px;
  width: 60px;
  position: absolute;
}

.intra
{
  top: 627px;
  left: 520px;
  height: 60px;
  width: 60px;
  position: absolute;
}

.github
{
  top: 327px;
  left: 1020px;
  height: 60px;
  width: 60px;
  position: absolute;
}

.twitter
{
  top: 477px;
  left: 1020px;
  height: 60px;
  width: 60px;
  position: absolute;
}

.google
{
  top: 627px;
  left: 1020px;
  height: 60px;
  width: 60px;
  position: absolute;
}